build/
Debug/
STM32CubeIDE/.settings
Backup

Configurations-Private/
Private/
Internal/

STM32CubeIDE/*.launch
STM32CubeIDE/*Debug.launch
STM32CubeIDE/*Debug.cfg
STM32CubeIDE/*.cfg

.pio
.vscode
.git
*.launch

*-Private.c
*-Private.h

*-Internal.c
*-Internal.h